---
import CaseStudy from "../components/CaseStudy.astro";
import Container from "../layouts/Container.astro";
import { urlFor } from "../util/image";
import { getCaseStudies } from "../util/sanity";

const studies = await getCaseStudies();
const sortedStudies = studies.sort((a, b) => {
  if (a.position! < b.position!) return -1;
  else return 1;
});
const even = sortedStudies.filter((_, index) => index % 2 === 1);
const odd = sortedStudies.filter((_, index) => index % 2 === 0);
---

<Container className={"py-20 md:py-32 lg:py-56"} id="case-studies">
  <div class="space-y-4" data-aos="fade-up">
    <h2 class="text-4xl font-bold tracking-tight md:text-5xl">Case Studies</h2>
    <p class="text-black/70">
      Ideas turned into reality: See how my services have helped others succeed.
    </p>
  </div>
  <div
    class="mt-20 grid grid-cols-1 gap-x-16 gap-y-20 md:grid-cols-2 md:gap-y-10"
  >
    <div class="grid grid-cols-1 gap-y-20">
      {
        odd.map((study) => (
          <CaseStudy
            client={study.client}
            imgUrl={urlFor(study.thumbnail).url()}
            href={study.draftText ? undefined : "/case-study/" + study.slug}
            incompleteText={study.draftText}
          >
            {study.description}
          </CaseStudy>
        ))
      }
    </div>
    <div class="grid grid-cols-1 gap-y-20">
      {
        even.map((study) => (
          <CaseStudy
            client={study.client}
            imgUrl={urlFor(study.thumbnail).url()}
            href={study.draftText ? undefined : "/case-study/" + study.slug}
            incompleteText={study.draftText}
          >
            {study.description}
          </CaseStudy>
        ))
      }
    </div>
  </div>
</Container>
