---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar";
import CaseStudyHeader from "../../components/CaseStudyHeader.astro";
import CTA from "../../components/CTA.astro";
import Footer from "../../components/Footer.astro";
import { getCaseStudies } from "../../util/sanity";
import type { InferGetStaticParamsType } from "astro";
import { getCaseStudy } from "../../util/sanity";
import Container from "../../layouts/Container.astro";
import Content from "../../components/Content.astro";

export async function getStaticPaths() {
  const studies = await getCaseStudies();
  const filteredStudies = studies.filter((study) => study.draftText === null);
  return filteredStudies.map((study) => ({
    params: { slug: study.slug },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const study = await getCaseStudy(slug);
---

<Layout
  title={`${study.client} | Institut 4000`}
  description={study.description}
>
  <Navbar
    addSlash
    client:load
    backgroundColor={study.backgroundColor.hex}
    textColor={study.textColor.hex}
  />
  <main>
    <CaseStudyHeader study={study} />
    <Container className="py-20 text-black/70 md:py-32 lg:py-56 lg:text-lg">
      <Content content={study.content} />
    </Container>
  </main>
  <CTA
    backgroundColor={study.backgroundColor.hex}
    textColor={study.textColor.hex}
  />
  <Footer
    backgroundColor={study.backgroundColor.hex}
    textColor={study.textColor.hex}
  />
</Layout>
